<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dashboard</h1>
    <form action="/home/addbook" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="author" placeholder="Author">
        <input type="file" name="img" required>
        <button>Add Book</button>
    </form>
</body>
</html>